* {
    font-family: 'Saira', serif;
    font-style: normal;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 100%;
}

button {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    transition: 0.1s;
    padding: 5px 8px;
    margin: 2px 0;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    opacity: 0.4;
}

input[type="text"] {
    appearance: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    outline: none;
    padding: 5px 8px;
    margin: 2px 0;
}

/* From Uiverse.io by satyamchaudharydev */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 60px;
    transition: 0.5s;
    background-color: #00000060;
    border-radius: 50%;
}

.loader:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circular {
    animation: rotate73451 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash0175 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: white
}

@keyframes rotate73451 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash0175 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

/* From Uiverse.io by mrhyddenn */
.check {
    position: relative;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: absolute;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    right: 0;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: #fff;
}

.checksvg:checked+.check svg {
    stroke: #fff;
}

.checksvg:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checksvg:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

/* Code */
.bg-img {
    width: 100%;
    height: 100vh;
}

.image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    opacity: 0;
    filter: blur(0px);
}

.background_blur {
    position: absolute;
    top: 0;
    /* filter: blur(5px); */
    transition: all 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    opacity: 0.3;
    background-size: cover;
    background-position: center 50%;
    width: 100%;
    height: 100%;
    animation: movingupdwon 20s alternate infinite ease-in-out;
    animation-play-state: paused;
}

@keyframes movingupdwon {
    0% {
        background-position: center 0%;
    }

    100% {
        background-position: center 100%;
    }
}


.settings {
    position: absolute;
    top: 10px;
    /* Adjusted for top margin */
    right: 10px;
    /* Adjusted for right margin */
    z-index: 98;
    width: calc(250px - 20px);
    /* Adjusted for left and right margins */
    height: calc(100vh - 20px);
    /* Adjusted for top and bottom margins */
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 2.5px 5px;
    backdrop-filter: blur(5px);
    transform: translateX(250px);
    transition: 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

.opt-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 10px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    color: white;
    transition: 300ms;
    opacity: 0.2;
    width: auto !important;
}

.opt-btn:hover {
    transform: rotate(90deg);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.opt-btn:active {
    transform: scale(0.9) rotate(90deg);
    transition: 0s !important;
}

.active {
    transform: translateX(0);
    visibility: visible;
}

.active2 {
    opacity: 1;
}


input[type="range"] {
    width: 100%;
    height: 5px;
    margin: 10px 0;
    accent-color: white;
    transition: 300ms;
}

input[type="range"]:hover {
    cursor: pointer;
}

.tab-title {
    font-size: 1zem;
    text-align: center;
    padding: 0;
    background-color: black;
}

.setting-tabs {
    margin: 2.5px 0 2.5px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.tab-content {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}


.choose-API {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.API-name {
    padding: 0;
    margin: 0;
}

.API-select-box button {
    margin: 0;
    text-align: left;
}

.API-select-box {
    display: none;
    max-height: 200px;
    overflow: auto;
}

.shown {
    display: block !important;
}

.picre {
    display: none;
}

.del-confirm {
    display: none;
}

.info p {
    font-size: 0.9em;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

.info a {
    color: white;
    opacity: 0.5;
}

.info a:hover {
    opacity: 1;
}

.safemode-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(40px);
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
}

.safemode-box p {
    position: absolute;
    color: white;
    font-size: 1em;
    text-align: center;
    opacity: 0.5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.error-display {
    display: none;
    background-color: rgba(255, 0, 0, 0.5);
}

#error-text {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.preview-image {
    border-radius: 4px;
    display: none;
}

.content p,
span {
    font-family: "Lexend", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 300;
    font-style: normal !important;
}

.date-info {
    z-index: 5;
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 10px;
    animation: slidein forwards 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transform: translateX(-500px);
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.date-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: skewX(-20deg);
    border-right: 5px solid white;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.date-info:hover {
    position: absolute;
    left: 10px;
}

.date-info:hover::before {
    background-color: rgba(66, 66, 66, 0.5);
}

@keyframes slidein {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0);
    }
}

.weather-info {
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 15px;
    animation: slidein1 forwards 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transform: translateX(-500px);
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.weather-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: skewX(-20deg);
    border-right: 5px solid white;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.weather-info:hover {
    position: absolute;
    left: 10px;
}

.weather-info:hover::before {
    background-color: rgba(66, 66, 66, 0.5);
}

@keyframes slidein1 {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

.weather-info p {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 0.8em;
}

.search {
    z-index: 5;
    position: absolute;
    top: 90px;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    padding: 5px 20px 5px 10px;
    animation: slidein2 forwards 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.search::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 111%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: skewX(-20deg);
    border-right: 5px solid white;
    border-left: 4px solid white;
    transition: 1s;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.search:hover {
    position: absolute;
    left: 10px;
}

.search:hover::before {
    background-color: rgba(66, 66, 66, 0.5);
}

@keyframes slidein2 {
    from {
        transform: translateX(-800px);
    }

    to {
        transform: translateX(0);
    }
}

#search {
    background: transparent;
    margin: 0;
    width: 230px;
    transition: 0.5s;
    font-size: .8em;
}

#search-btn {
    background: transparent;
    display: flex;
    width: auto;
}

#search::placeholder {
    color: white;
    opacity: 0.5;
}

#clear {
    background: transparent;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    position: absolute;
    width: auto;
    display: none;
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp {
    font-size: 1.8em !important;
    margin: 0 10px 0 0 !important;
}

.date-info p {
    margin: 0 10px 0 10px;
    padding: 0;
}

.date {
    font-size: 0.9em;
}

.clock {
    font-size: 2.1em;
    font-weight: 500;
}

#lunar-calendar {
    font-size: 0.9em;
}

.API-handle {
    transition: .5s;
}

.localimage {
    display: none;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
}

.settings::-webkit-scrollbar {
    width: 3px;
}

.settings::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.settings::-webkit-scrollbar-track {
    background: transparent;
}

.picsum {
    display: none;
}

.alert-box-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    display: none;
}

.alert-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 5px 4px 5px;
    border: 1px solid black;
    color: white;
    z-index: 101;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.alert-title {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#alert-content {
    font-size: 0.9em;
    text-align: left;
    padding: 5px;
}

.alert-box p {
    margin: 0;
    padding: 0;
}