* {
    font-family: 'Quicksand', serif;
    font-style: normal;
    user-select: none;
    box-sizing: border-box;
    -webkit-user-drag: none;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 100%;
}

button {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    transition: 0.1s;
    padding: 6px 8px;
    margin: 2px 0;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

button:active {
    transition: 0s;
    transform: scale(0.96);
}

button:disabled {
    opacity: 0.4;
}

input[type="text"] {
    appearance: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    padding: 5px 8px;
    margin: 2px 0;
    font-size: 0.9em;
    outline: none;
    transition: 0.1s;
}

input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.6);
}

input[type="range"] {
    width: 100%;
    height: 5px;
    margin: 8px 0;
    accent-color: white;
    transition: 300ms;
}

input[type="range"]:hover {
    cursor: pointer;
}

svg {
    transition: 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash0175 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: white
}

/* From Uiverse.io by mrhyddenn */
.check {
    position: relative;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: absolute;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    right: 0;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: #fff;
}

.checksvg:checked+.check svg {
    stroke: #fff;
}

.checksvg:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checksvg:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

/* Code */
.bg-img {
    width: 100%;
    height: 100vh;
}

.image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    transition: 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.wavy-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 104%;
    height: 104vh;
    will-change: transfrom;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    opacity: 1;
}

.settings {
    position: absolute;
    top: 10px;
    /* Adjusted for top margin */
    right: 10px;
    /* Adjusted for right margin */
    z-index: 98;
    width: calc(250px - 20px);
    /* Adjusted for left and right margins */
    height: calc(100vh - 20px);
    /* Adjusted for top and bottom margins */
    background-color: transparent;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    transform: translateX(250px);
    transition: 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.settings::-webkit-scrollbar {
    width: 0;
}

.opt-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 10px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    color: white;
    transition: 300ms;
    opacity: 0.2;
    width: auto !important;
}

.opt-btn:hover {
    background-color: black;
    opacity: 0.8;
}

.active {
    transform: translateX(0px);
    visibility: visible;
}

.active2 {
    opacity: 1;
}

.opt-btn-con {
    transition: 0.8s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.tab-title {
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    background-color: black;
}

.setting-tabs {
    margin: 2px 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.tab-content {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}


.choose-API,
.choose-ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}


.API-name,
.ui-name {
    padding: 0;
    margin: 0;
}

.API-select-box button {
    margin: 0;
    text-align: left;
}

.shown {
    display: block !important;
}

.API-select-box,
.ui-select-box {
    display: none;
    max-height: 200px;
    overflow: auto;
}

.picre {
    display: none;
}

.del-confirm {
    display: none;
}

.info p {
    font-size: 0.9em;
    opacity: 0.8;
    padding: 0;
    margin: 0;
}

.info a {
    color: white;
    opacity: 0.5;
}

.info a:hover {
    opacity: 1;
}

.safemode-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(40px);
    width: 100%;
    height: 100vh;
    z-index: 0;
    display: none;
}

.safemode-box p {
    position: absolute;
    color: white;
    font-size: 1em;
    text-align: center;
    opacity: 0.5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.safemode-enabled {
    display: block;
}

.error-display {
    display: none;
    background-color: rgb(141, 0, 0, 0.8);
}

#error-text {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-family: monospace, 'Courier New', Courier;
    user-select: text;
}

#error-text::selection {
    color: white;
    background-color: black;
}

.select-API {
    margin-bottom: 5px;
}

.preview-image {
    display: none;
}

.date-info {
    z-index: 5;
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 10px;
    animation: slidein forwards 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transform: translateX(-500px);
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.date-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: skewX(-20deg);
    border-right: 5px solid white;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.date-info:hover {
    position: absolute;
    left: 10px;
}

@keyframes slidein {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0);
    }
}

.weather-info {
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 15px;
    animation: slidein1 forwards 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transform: translateX(-500px);
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.weather-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: skewX(-20deg);
    border-right: 5px solid white;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.weather-info:hover {
    position: absolute;
    left: 10px;
}

@keyframes slidein1 {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

.weather-info p {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 0.8em;
}

.search {
    z-index: 5;
    position: absolute;
    top: 90px;
    left: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    padding: 5px 20px 5px 15px;
    animation: slidein2 forwards 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.search::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 111%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: skewX(-20deg);
    border-right: 5px solid white;
    border-left: 4px solid white;
    transition: 1s;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.search:hover {
    position: absolute;
    left: 10px;
}

@keyframes slidein2 {
    from {
        transform: translateX(-800px);
    }

    to {
        transform: translateX(0);
    }
}

#search {
    background: transparent;
    margin: 0;
    width: 230px;
    transition: 0.5s;
    font-size: .8em;
    transition: 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

#search-btn {
    background: transparent;
    display: flex;
    width: auto;
}

#search::placeholder {
    color: white;
    opacity: 0.5;
}

#clear {
    background: transparent;
    width: 25px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
}

#clear svg {
    scale: 2.5;
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temp {
    font-size: 1.8em !important;
    margin: 0 10px 0 0 !important;
}

.date-info p {
    margin: 0 10px 0 10px;
    padding: 0;
}

.date {
    font-size: 0.9em;
}

.clock {
    font-size: 2.1em;
    font-weight: 500;
}

.API-handle {
    transition: .5s;
}

.localimage {
    display: none;
}

.picsum {
    display: none;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    opacity: 0.4;
}

.alert-box-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    display: none;
    opacity: 0;
}

.alert-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 101;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.alert-title {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: #000;
}

.alert-content {
    margin: 0px 8px 8px 8px;
}

#alert-content {
    font-size: 0.9em;
    text-align: center;
    padding: 5px;
}

.alert-box p {
    margin: 0;
    padding: 0;
}

.slider {
    display: flex;
    flex-direction: column;
}

.tooltip {
    opacity: 0.5;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

#weather-error {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(255, 92, 74);
    display: none;
}

#bgpos-center {
    width: auto;
    padding: 2px 8px;
    margin-left: 5px;
}

.search-active #search {
    font-size: 1.2em;
    width: 500px;
}

.search-active #clear {
    display: flex;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: white;
    width: 100%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}